#contracts
  .container
    .py-2.text-center
      h2.heading.mb-3= t('contracts.views.new.header')
  = react_component('Contracts/Form/Form', { \
      vendors: @vendors, \
      contract: @contract, \
      categories: @categories, \
      form_action: contracts_path(@contract), \
      form_method: 'post', \
      csrf_token: form_authenticity_token, \
      submit_name: t('contracts.views.new.buttons.submit') \
    })