.user-form {
  margin: auto;
  width: 50%;

  label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
  }

  input.form-control {
    border-radius: 5px;
  }

  input[type=submit] {
    margin: auto;
    display: block;
    color: #2c2f33;
    border: 0;
    background-color: #b4bbc6;
    width: 90px;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;

    &:hover {
      background-color: #c4cbd6;
    }
  }

  .react-date-picker__wrapper {
    border: 0;
    width: 100%;
  }
}